{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-css-modules"
  ],
  "rules": {
    "declaration-block-properties-order": [["composes"], { "unspecified": "bottomAlphabetical" }]
  }
}
