@value paddingTop1, paddingBottom1 from 'shared/styles/spacing.css' ;
@value slate from 'shared/styles/colors.css' ;

.wrapper {
  composes: paddingTop1 paddingBottom1;
  background-color: slate;
}

.menu {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
